<style>
    #innercontent > div {
        display: none;
    }

    #innercontent .active {
        display: block;
    }
</style>

<h2>Home Page</h2>

<div id="tabpanel">

</div>

<div id="innercontent">
    <button type="button" class="close" style="float:right; display:none" id="CloseTab">X</button>
</div>


@section Scripts{
    <script type="text/javascript">

    </script>
}