<style>
    #innercontent > div {
        display: none;
    }

    #innercontent .active {
        display: block;
    }
</style>

<h2>Home Page</h2>

<div id="functiontab_panel">

</div>
<hr />

<div id="innercontent">
    <button type="button" class="close" style="float:right; margin-top:-20px; display:none" id="CloseTab">X</button>
</div>


@section Scripts{
    <script type="text/javascript">

    </script>
}