<style>
    #functiontab_panel > div {
        display: none;
    }

    #functiontab_panel .active {
        display: block;
    }

    #functionbar_panel > div{
        padding:0px;
    }

    #functionbar_panel > div > label{
        padding:8px;
        margin:0px;
        font-size:16px;
        cursor:pointer;
    }

    #functionbar_panel > div > .close{
        padding-top:3px;
        padding-right:1px;
        font-size:14px;
    }

</style>

<h2>Home Page</h2>

<div id="functionbar_panel">

</div>
<hr />

<div id="functiontab_panel">
    <button type="button" class="close" style="float:right; margin-top:-20px; display:none" id="CloseTab">X</button>
</div>


@section Scripts{
    <script type="text/javascript">

    </script>
}