
<div id="toolbar">
    <nav>
        <ul class="list-inline">
            <li style="padding:0px">
                <button class="btn btn-warning" disabled id="Search">查詢</button>
            </li><!--
            --><li style="padding:0px">
                <button class="btn btn-danger" disabled id="Add">新增</button>
            </li><!--
            --><li style="padding:0px">
                <button class="btn btn-default" disabled id="Check">確認</button>
            </li><!--
            --><li style="padding:0px">
                <button class="btn btn-info" disabled id="Delete">刪除</button>
            </li><!--
            --><li style="padding:0px">
                <button class="btn btn-success" disabled id="Failed">作廢</button>
            </li><!--
            --><li style="padding:0px">
                <button class="btn btn-primary" disabled id="Attachment">附件</button>
            </li>
        </ul>
    </nav>
</div>