@model List<webpacktest.ViewModel.TestTwoDataViewModel>

<table class="table table-striped" id="tabledata">
    <tr>
        <th>名稱</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
        </tr>
    }
</table>

<button id="save" class="btn btn-success">儲存</button>