
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h2 class="col-md-5">測試二號</h2>
    <div class="col-md-7">
        @Html.Action("ToolBar", "ToolBar");
    </div>
</div>
<div id="TestTwoContent">
    <h1>Webpack</h1>
    <h2>Webpack</h2>
    <h3>Webpack</h3>
    <h4>Webpack</h4>
</div>

